<div class="auth-wrapper">
  <div class="auth-card">

    <h1>Reset Master Password</h1>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <!-- Username -->
      <label for="username">Username</label>
      <input
        id="username"
        type="text"
        formControlName="username"
        placeholder="Enter username"/>

      <!-- Security Question Dropdown -->
      <label for="securityQuestion">Select Security Question</label>
      <select
        id="securityQuestion"
        formControlName="question">

        <option value="">Select question</option>

        <option *ngFor="let q of questions" [value]="q">
          {{ q }}
        </option>

      </select>

      <!-- Answer -->
      <label>Answer</label>
      <div class="password-wrapper">
        <input
          [type]="showAnswer ? 'text' : 'password'"
          formControlName="answer"
          placeholder="Enter answer" />
        <span (click)="showAnswer = !showAnswer">
          {{ showAnswer ? '🙈' : '👁️' }}
        </span>
      </div>

      <!-- New Password -->
      <label>New Password</label>
      <div class="password-wrapper">
        <input
          [type]="showNew ? 'text' : 'password'"
          formControlName="newPassword"
          placeholder="Enter new password" />
        <span (click)="showNew = !showNew">
          {{ showNew ? '🙈' : '👁️' }}
        </span>
      </div>

      <!-- Confirm Password -->
      <label>Confirm Password</label>
      <div class="password-wrapper">
        <input
          [type]="showConfirm ? 'text' : 'password'"
          formControlName="confirmPassword"
          placeholder="Re-enter password" />
        <span (click)="showConfirm = !showConfirm">
          {{ showConfirm ? '🙈' : '👁️' }}
        </span>
      </div>

      <!-- Submit -->
      <button type="submit" [disabled]="loading">
        {{ loading ? 'Resetting...' : 'Reset Password' }}
      </button>

      <p class="error" *ngIf="errorMessage">
        {{ errorMessage }}
      </p>

      <p class="success" *ngIf="successMessage">
        {{ successMessage }}
      </p>

    </form>

  </div>
</div>