.password-field {
  position: relative;
}

.password-field input {
  width: 100%;
  padding-right: 40px;
}

.password-field span {
  position: absolute;
  right: 15px;
  top: 32%;
  transform: translateY(-50%);
  cursor: pointer;
}